/* You can add global styles to this file, and also import other style files */
.galleryTitle{
    font-size: 16px;
        font-weight: bold;
        padding: 15px;
        border: solid #ffc107 2px;
        border-collapse: collapse;
        color:#d39e00;
        margin-top:20px;
    }
    .gallery{
        margin-bottom:20px;
    }
    .title{
        background-image: linear-gradient(180deg, #ffc107, #d39e00);
        text-align: center;
        padding: 10px;
        color: #e8f7099e;
        text-shadow: 1px 1px;
        font-weight: bold;
        font-size: 30px;
    }

    /* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .img-modal-box {
    position: relative;
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    //padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   background-color: rgb(197 197 199 / 90%);
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    background: #adb5bd4a
  }

  .img-modal-box img{
      height:100% !important;
  }